/************************ PORTFOLIO *********************************/
.portfolio-wrapper {
    background: var(--primary-light-grey);
    padding: 3rem 0;
  }
  
  .portfolio-wrapper h1 {
    color: var(--primary-dark);
    font-weight: 700;
  }
  
  .portfolio-image {
    width: 15rem;
    border: 1px solid var(--primary-standard-blue);
    padding: 0 0.5rem;
  }
  
  .portfolio-image-box {
    position: relative;
    margin: 1rem;
  }